$bg = #ffffff
$border = #f0f0f0
$text = #4e5857
$text-light = #c3c3c3
$bg-dark = rgba(245,245,245,.8)

$active = #444

$grey = #666
$yellow = #D3E478
$orange = orange
$red = rgba(204,17,0,1)
$green = green

$transition = 200ms cubic-bezier(0.2,0.3,0.25,0.9)

$btn-border = #f0f0f0
$btn-disabled = rgba(255,255,255,.2)