@import '00_variables.styl'
@import 'nib'

.item
    padding 0
    margin-bottom 50px
    display block
    border-bottom 1px solid $border

.ngdialog-content
    .item
        padding 10px
        margin 0

.queue-container
    .item
        margin 0
        padding 10px 0