@import '00_variables.styl'
@import 'nib'

img.auth-logo
    width 180px
    padding 20px 0 10px
    margin 0 auto
    display block

.auth
    p
        text-align center
        padding-bottom 20px
    form
        margin 0 auto
        max-width 300px
        padding 20px 0 30px
        z-index 1
        input
            font-size 19px
            padding 5px 0
            background white
            color $grey
            border-radius 0
            margin-bottom 0
            border-color $border
        .submit
            border none
            margin-top -42px
            float right
            position relative
            font-size 30px
            color $grey
            background none
            cursor pointer
            z-index 1
            &.disabled
                color $border
                cursor not-allowed

@keyframes shake
    0%, 100%
        transform translateX(0)

    10%, 30%, 50%, 70%, 90%
        transform translateX(-10px)

    20%, 40%, 60%, 80%
        transform translateX(10px)

.shake
  animation shake 1s
  animation-fill-mode both
