@import '00_variables.styl'
@import 'nib'

.ngdialog .prescription .image-container
    display none

.prescription-description
    position relative
    font-size 16px
    min-height 22px

.prescription
    position relative
    border 1px solid $border
    margin 0
    height 100%
    border-radius 2px
    overflow hidden
    overflow-y scroll
    .table
        margin 76px 0 41px

.prescription-header
.prescription-footer
    position fixed
    margin 0
    left 1px
    right 1px
    z-index 4

.prescription-header
    top 1px
    background white

.prescription-footer
    bottom 1px
    background #fafafa
    border-top 1px solid $border
    padding 10px 20px

.prescription-body
    padding 0.8em 20px
    border-bottom 1px solid $border

.prescription tr
    padding 0 20px

.prescription-footer.actions
    margin 0
    .btn
        border none

.prescription-footer.actions
    .btn + .btn
        border-left 1px solid $border
