@import '00_variables.styl'

.actions
    margin 10px 0
    display block

.lead .actions
    text-align center

.action
    display inline-block
    margin-left 10px
    float right

.comment-content .actions
    opacity 0
.comment-content:hover .actions
    opacity 1