@import '00_variables.styl'
@import 'nib'

table
    max-width 100%

.table
    width 100%
    tr
        position relative
        display block
        border-bottom 1px solid $border
    th
    td
        padding 8px
        vertical-align top