@import '00_variables.styl'
@import 'nib'

.contact-form
    position relative
    .name
    .email
        display inline-block
        width 50%
    .name
        border-right 1px solid $border
    input
    textarea
        padding 10px
    .btn
        width 100%
        text-align center