@import '00_variables.styl'
@import 'nib'

.setting-item
    overflow hidden
    position relative
    padding-top 30px
    padding-bottom 36px
    border-bottom 1px solid $border
    .setting-item-info
        float left
        width 60%
    .setting-item-actions
        position absolute
        right 0
        top 50%
        margin-top -19px
    .setting-item-description
        color $text-light
    .setting-item-label
        font-weight 500
    .setting-item-input
        position relative