@import '00_variables.styl'
@import 'nib'

.alert
    height 22px
    padding 0 5px
    display none
    margin 0
    text-align center
    border-radius 2px
    background $red
    color white
    &.visible 
        display block
