@import '00_variables.styl'
@import 'nib'

.item .comments
    display none

.discussion-description
.discussion-title
    position relative

.discussion-title
    font-size 18px
    min-height 26px

.discussion-description
    font-size 16px
    min-height 22px

.item .discussion-description
    display none
